In [1]:
import akshare as ak
import numpy as np
import pandas as pd
import sqlite3
from pathlib import Path
import os

In [ ]:
# gitee单个文件大小上限150MB，测试下db文件大小和数据量的关系

In [37]:
a = ak.stock_zh_a_hist(symbol="601318", period="daily", start_date="20221019", end_date='20221024',
                                        adjust="")
qfq = ak.stock_zh_a_hist(symbol="601318", period="daily", start_date="20221019", end_date='20221024',
                                        adjust="qfq")
hfq = ak.stock_zh_a_hist(symbol="601318", period="daily", start_date="20221019", end_date='20221024',
                                        adjust="hfq")
hfq_sina = ak.stock_zh_a_daily(symbol="sh601318", start_date="20221019", end_date='20221024',
                                        adjust="hfq")
qfq_sina = ak.stock_zh_a_daily(symbol="sh601318", start_date="20221019", end_date='20221024',
                                        adjust="qfq")
a_sina = ak.stock_zh_a_daily(symbol="sh601318", start_date="20221019", end_date='20221024',
                                        adjust="")
qfq_1 = ak.stock_zh_a_daily(symbol="sh601318", start_date="20221015", end_date='20221023', adjust="qfq-factor")
hfq_1 = ak.stock_zh_a_daily(symbol="sh601318", start_date="20221015", end_date='20221023', adjust="hfq-factor")
# 1股派 0.92

In [16]:
a

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,2022-10-19,41.65,41.27,41.98,41.26,364361,1.509505e+09,1.72,-1.15,-0.48,0.34
1,2022-10-20,40.40,40.01,40.49,39.90,450214,1.807515e+09,1.43,-3.05,-1.26,0.42
2,2022-10-21,40.10,39.65,40.25,39.50,457377,1.824460e+09,1.87,-0.90,-0.36,0.42
3,2022-10-24,39.66,37.70,39.93,37.61,951252,3.662222e+09,5.85,-4.92,-1.95,0.88

In [38]:
a_sina

,date,open,high,low,close,volume,outstanding_share,turnover
0,2022-10-19,41.65,41.98,41.26,41.27,36436126.0,1.083266e+10,0.003364
1,2022-10-20,40.40,40.49,39.90,40.01,45021418.0,1.083266e+10,0.004156
2,2022-10-21,40.10,40.25,39.50,39.65,45737748.0,1.083266e+10,0.004222
3,2022-10-24,39.66,39.93,37.61,37.70,95125183.0,1.083266e+10,0.008781

In [26]:
qfq_1.query("date >= '2022-01-20'")   #前复权直接除以因子

        date          qfq_factor
0 2022-10-20  1.0000000000000000
1 2022-06-20  1.0224280125952000

In [32]:
qfq

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,2022-10-19,40.73,40.35,41.06,40.34,364361,1.509505e+09,1.76,-1.18,-0.48,0.34
1,2022-10-20,40.40,40.01,40.49,39.90,450214,1.807515e+09,1.46,-0.84,-0.34,0.42
2,2022-10-21,40.10,39.65,40.25,39.50,457377,1.824460e+09,1.87,-0.90,-0.36,0.42
3,2022-10-24,39.66,37.70,39.93,37.61,951252,3.662222e+09,5.85,-4.92,-1.95,0.88

In [36]:
qfq_sina

,date,open,high,low,close,volume,outstanding_share,turnover
0,2022-10-19,40.74,41.06,40.35,40.36,36436126.0,1.083266e+10,0.003364
1,2022-10-20,40.40,40.49,39.90,40.01,45021418.0,1.083266e+10,0.004156
2,2022-10-21,40.10,40.25,39.50,39.65,45737748.0,1.083266e+10,0.004222
3,2022-10-24,39.66,39.93,37.61,37.70,95125183.0,1.083266e+10,0.008781

In [28]:
hfq_1.query("date >= '2022-01-20'")

        date          hfq_factor
0 2022-10-20  2.7046791888975000
1 2022-06-20  2.6453492623235000
2 2021-10-25  2.5617757999812000
3 2021-04-22  2.5205391841845000

In [20]:
hfq

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,2022-10-19,110.33,109.57,110.99,109.55,364361,1.509505e+09,1.30,-0.87,-0.96,0.34
1,2022-10-20,109.67,108.89,109.85,108.67,450214,1.807515e+09,1.08,-0.62,-0.68,0.42
2,2022-10-21,109.07,108.17,109.37,107.87,457377,1.824460e+09,1.38,-0.66,-0.72,0.42
3,2022-10-24,108.19,104.27,108.73,104.09,951252,3.662222e+09,4.29,-3.61,-3.90,0.88

In [34]:
hfq_sina

,date,open,high,low,close,volume,outstanding_share,turnover
0,2022-10-19,110.18,111.05,109.15,109.17,36436126.0,1.083266e+10,0.003364
1,2022-10-20,109.27,109.51,107.92,108.21,45021418.0,1.083266e+10,0.004156
2,2022-10-21,108.46,108.86,106.83,107.24,45737748.0,1.083266e+10,0.004222
3,2022-10-24,107.27,108.00,101.72,101.97,95125183.0,1.083266e+10,0.008781

In [2]:
aa = ak.stock_zh_a_hist(symbol="601318", period="daily", start_date="20210101", end_date='20211231',
                                        adjust="")
aa

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,2021-01-04,86.91,85.18,86.95,84.10,1036431,8.814287e+09,3.28,-2.07,-1.80,0.96
1,2021-01-05,84.50,84.27,84.50,82.85,1054786,8.795810e+09,1.94,-1.07,-0.91,0.97
2,2021-01-06,84.29,85.74,85.74,83.55,937598,7.950362e+09,2.60,1.74,1.47,0.87
3,2021-01-07,85.87,86.26,86.76,84.30,1069687,9.137581e+09,2.87,0.61,0.52,0.99
4,2021-01-08,86.22,86.10,87.26,85.21,1169368,1.006906e+10,2.38,-0.19,-0.16,1.08
...,...,...,...,...,...,...,...,...,...,...,...
238,2021-12-27,49.96,49.98,50.20,49.87,274701,1.373482e+09,0.66,0.32,0.16,0.25
239,2021-12-28,50.30,50.87,51.13,50.10,617359,3.137431e+09,2.06,1.78,0.89,0.57
240,2021-12-29,51.10,50.81,51.16,50.52,376469,1.913670e+09,1.26,-0.12,-0.06,0.35
241,2021-12-30,50.90,50.41,50.99,50.41,427880,2.167180e+09,1.14,-0.79,-0.40,0.39
242,2021-12-31,50.43,50.41,50.85,50.15,358000,1.805071e+09,1.39,0.00,0.00,0.33

In [5]:
aa['成交额']

0      8.814287e+09
1      8.795810e+09
2      7.950362e+09
3      9.137581e+09
4      1.006906e+10
           ...
238    1.373482e+09
239    3.137431e+09
240    1.913670e+09
241    2.167180e+09
242    1.805071e+09
Name: 成交额, Length: 243, dtype: float64

In [ ]:
def db_ingest(dict, db_path, if_tab_exists='append', event_dt=True, ingest_tm=True, index=False):
    try:
        tab_suffix = '-' + dt.datetime.now().strftime("%y%m%d")
        conn = sqlite3.connect(db_path)
        for name, df in dict.items():
            if event_dt: df['event_dt'] = dt.datetime.now().strftime("%Y-%m-%d")  # 目前为数据摄入时间，后续需要优化为自动计算上一交易日
            if ingest_tm: df['ingest_tm'] = dt.datetime.now().strftime("%Y-%m-%d %H:%M:%S")  # 数据写入时间
            df.to_sql(name=name + tab_suffix, con=conn, if_exists=if_tab_exists, index=index)
            print("表" + name + "写入成功")
        conn.commit()
        print("事务提交，共提交" + str(len(dict)) + "张表")
        conn.close()
        print("数据库关闭,入库成功")
    except Exception as e:
        print(dt.datetime.now().strftime("%Y-%m-%d %H:%M:%S") + "数据入库异常:{0}".format(e))
        traceback.print_exc()

In [27]:
lblpath = Path(r'./../manual_data/stock_lbl_220626.xlsx')

In [28]:
df_sse50 = pd.read_excel(io=lblpath,sheet_name=0,header=0,dtype='str')  # 沪深50
df_csi300 = pd.read_excel(io=lblpath,sheet_name=1,header=0,dtype='str') # 中证300
df_csi500 = pd.read_excel(io=lblpath,sheet_name=2,header=0,dtype='str') # 中证500
df_star50 = pd.read_excel(io=lblpath,sheet_name=3,header=0,dtype='str') # 科创50

In [ ]:
data_hold = []
dir = r"E:/gitee/stockdata/tushare_old/all"
all_path = os.listdir(dir)
for i in all_path:
    code = i[:6]
    d = pd.read_excel(io=dir+i,dtype='str')
    d["code"] = code
    data_hold.append()

In [6]:
dir = r"E:/gitee/stockdata/tushare_old/all"
dd = pd.read_excel(io=dir+"000001.xlsx",dtype='str')

NameError: name 'pd' is not defined